<!-- home.ejs -->
<html>
<head>
    <title>Home Page</title>
</head>
<body>
    <!-- Включение компонента навигации -->
    <% include partials/navigation.ejs %>

    <h1>Welcome to the Home Page!</h1>
    <!-- Дополнительный контент вашей домашней страницы -->
</body>
</html>
